@import "mixins";

sa-header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    max-width: 1000px;
    margin: auto;
  }
}

